@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />
<a href="/Produces/Index">Produce Index</a>
<br />
<a href="/Employees/Index">Employees Index</a>
<br />
<a href="/Aisles/Index">Aisles Index</a>
<br />
<a href="/Positions/Index">Positions Index</a>
<br />
<a href="/Categories/Index">Categories Index</a>
